body {
    background-image: url("./img/Artboard\ 426\ 2bg\ \(1\).png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-card {
    width: 502px;
    height: 794px;
    border-radius: 10px;
    margin-top: 116px;
    margin-left: 138px;

}

#PhoneBox {
    border-radius: 5px;
    background-color: #ebf0fc;
    background: #FFFFFF;
    color: #9da3b0;
    background-image: url("./img/VectorPhone.png");
    background-position: 10px;
    background-size: 24.21px;
    background-repeat: no-repeat;
    padding-left: 50px;
    max-width: 570px;
}



#button {
    margin-top: 51px;
    border-radius: 5px;
    width: 436.85px;
    height: 57px;
    left: 95.15px;
    top: 606px;
    background-color: #0952A3;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

  
}
#button2 {
    margin-top: 14px;
    border-radius: 5px;
    width: 436.85px;
    height: 57px;
    left: 95.15px;
    top: 606px;
    background: #FFFFFF;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #808080;

  
}

#btn {
    position: absolute;
    bottom: -35px;
    padding: 5px;
    margin: 0px 55px;
    align-items: center;
    border-radius: 5px;


}

#container {
    margin-top: 25px;
}

.btn-circle.btn-sm {
    width: 40px;
    height: 40px;
    padding: 2px 0px;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;

    margin: 8px;
}
.textt{
    margin-top: 14px;
    font-family: 'Inter',sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: center;
   
}